<html>
    <head>
        <title>Bem Vindo, Blog Django Girls</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Blog Django Girls</a></h1>
        </div>

        <div>
            <p>publicado: 08.06.2019, 12:14</p>
            <h2><a href="">Meu primeiro post</a></h2>
            <p>As vinte e nove bacias sedimentares brasileiras, que despertam interesse exploratório, compreendem uma área total aproximada de 4,58 e 1.44 milhões de km 2 em terra e mar, respectivamente (Onip, 2003).</p>
        </div>

        <div>
            <p>publicado: 08.06.2019, 12:14</p>
            <h2><a href="">Meu segundo post</a></h2>
            <p>A maioria das linhas sísmicas carregadas no BDEP foi adquirida há mais de dez anos pela PETROBRAS e refletem a melhor tecnologia de aquisição disponível na época dos levantamentos. A baixa cobertura sísmica dos levantamentos refletia muitas vezes o pequeno número de canais dos sismógrafos.</p>
        </div>
    </body>
</html>
